/* notfound - 共通 */
.notfound {
  text-align: center;
}
.notfound p {
  font-size: 1.6rem;
  font-weight: bold;
}
.notfound p br {
  display: none;
}
.notfound_p_tb {
  padding: 3em 0 6em;
}
.notfound_p_t {
  padding: 6em 0 0;
}
.notfound_p_b {
  padding: 0 0 6em;
}
@media only screen and (max-width: 768px) {
  .notfound p {
    font-size: 1.4rem;
  }
  .notfound p br {
    display: block;
  }
  .notfound_p_tb {
    padding: 2em 0 3em;
  }
  .notfound_p_t {
    padding: 3em 0 0;
  }
  .notfound_p_b {
    padding: 0 0 3em;
  }
}
.lower-charm .notfound_p_tb {
  padding: 12em 0 6em;
}
@media only screen and (max-width: 768px) {
  .lower-charm .notfound_p_tb {
    padding: 6em 0 3em;
  }
}
.header__wrap .logo {
  max-width: 116px;
}
@media (max-width: 768px) {
  .header__wrap .logo {
    max-width: 90px;
  }
}
.header__wrap .logo .link .img .img-box {
  padding-top: calc((128 / 270) * 100%);
}
.lower-interview_l .interview__list__item .txt-holder .info .name {
  font-size: 1.5rem;
}
.lower-interview_l .interview__list__item .txt-holder .info .name span {
  font-size: 2.2rem;
}
.lower-interview_l .interview__list__item .txt-holder .info .budge {
  color: #fff;
  background-color: #f67f67;
  padding: 2px 8px;
  margin-right: 10px;
  display: inline-block;
  font-size: 1.3rem;
}
@media (min-width: 769px) {
  .lower-interview_d .interview__info {
    margin-top: 45px;
  }
}
.lower-interview_d .interview__info .txt-holder .name-holder .ja {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.lower-interview_d .interview__info .txt-holder .name-holder .ja > span {
  margin-right: 20px;
}
.lower-interview_d .interview__info .txt-holder .name-holder .ja .name {
  font-size: 1.5rem;
}
.lower-interview_d .interview__info .txt-holder .name-holder .ja .name span {
  font-size: 2.2rem;
}
.front-page .-philosophy .main__sections__item__wrap {
  padding-top: 80px;
  padding-bottom: 240px;
  position: relative;
  max-width: 650px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .main__sections__item__wrap {
    padding-bottom: 120px;
  }
}
.front-page .-philosophy .content {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .hd .sec-ttl01 {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .hd .sec-ttl01 .sub {
    flex-direction: row;
  }
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .hd .sec-ttl01 .sub .dotted {
    margin-top: 0;
    margin-left: 10px;
  }
}
.front-page .-philosophy .hd .ja {
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .hd .ja {
    font-size: 1.6rem;
  }
}
.front-page .-philosophy .lead {
  font-size: 2.8rem;
  color: #fb856b;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.15em;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .lead {
    font-size: 1.8rem;
    text-align: left;
    margin-top: 20px;
  }
  .front-page .-philosophy .lead br {
    display: none;
  }
}
.front-page .-philosophy .text {
  margin-top: 30px;
  font-size: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .text {
    font-size: 1.4rem;
    margin-top: 15px;
  }
}
.front-page .-philosophy .btn-box {
  width: 130px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .btn-box {
    margin-left: 0;
  }
}
@keyframes fuwafuwa01 {
  0% {
    transform: translateY(2%) scale(0.98);
  }
  50% {
    transform: translateY(-2%) scale(1);
  }
  100% {
    transform: translateY(2%) scale(0.98);
  }
}
@keyframes fuwafuwa02 {
  0% {
    transform: translateY(-2%) scale(1);
  }
  50% {
    transform: translateY(2%) scale(0.98);
  }
  100% {
    transform: translateY(-2%) scale(1);
  }
}
.front-page .-philosophy .deco .photo {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.front-page .-philosophy .deco01::before,
.front-page .-philosophy .deco02::before,
.front-page .-philosophy .deco03::before,
.front-page .-philosophy .deco01::after,
.front-page .-philosophy .deco02::after,
.front-page .-philosophy .deco03::after {
  content: '';
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.front-page .-philosophy .deco01 {
  position: absolute;
  top: 40px;
  right: calc(100% + 100px);
}
@media only screen and (max-width: 1400px) {
  .front-page .-philosophy .deco01 {
    right: calc(100% + 60px);
  }
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .deco01 {
    top: 20px;
    right: 12%;
  }
}
.front-page .-philosophy .deco01::before {
  width: 150px;
  height: 150px;
  background-image: url(../img/index/img_round01.png);
  bottom: calc(100% - 120px);
  left: calc(100% - 100px);
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .deco01::before {
    transform: scale(0.5);
    transform-origin: top left;
    left: -30px;
    top: -30px;
  }
}
.front-page .-philosophy .deco01 .photo {
  width: 300px;
  height: 300px;
  animation: fuwafuwa01 5s ease infinite;
}
@media only screen and (max-width: 1400px) {
  .front-page .-philosophy .deco01 .photo {
    width: calc(300px * 0.8);
    height: calc(300px * 0.8);
  }
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .deco01 .photo {
    width: calc(300px * 0.3);
    height: calc(300px * 0.3);
  }
}
.front-page .-philosophy .deco02 {
  position: absolute;
  bottom: 20%;
  right: calc(100% + 100px);
}
@media only screen and (max-width: 1400px) {
  .front-page .-philosophy .deco02 {
    right: calc(100% + 60px);
  }
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .deco02 {
    top: 80px;
    right: 0;
    bottom: auto;
  }
}
.front-page .-philosophy .deco02::before {
  width: 200px;
  height: 200px;
  background-image: url(../img/index/img_round02.png);
  top: calc(100% - 100px);
  left: calc(100% - 80px);
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .deco02::before {
    transform: scale(0.4);
    transform-origin: top left;
    top: calc(100% - 140px);
    left: calc(100% - 60px);
  }
}
.front-page .-philosophy .deco02 .photo {
  width: 230px;
  height: 230px;
  animation: fuwafuwa02 6s ease infinite;
}
@media only screen and (max-width: 1400px) {
  .front-page .-philosophy .deco02 .photo {
    width: calc(230px * 0.8);
    height: calc(230px * 0.8);
  }
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .deco02 .photo {
    width: calc(230px * 0.3);
    height: calc(230px * 0.3);
  }
}
.front-page .-philosophy .deco03 {
  position: absolute;
  right: -70%;
  top: 20%;
  animation: fuwafuwa02 6.5s ease infinite;
}
@media only screen and (max-width: 1400px) {
  .front-page .-philosophy .deco03 {
    right: -40%;
  }
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .deco03 {
    top: auto;
    bottom: 90px;
    right: 0;
  }
}
.front-page .-philosophy .deco03::before {
  width: 300px;
  height: 300px;
  background-image: url(../img/index/img_round03.png);
  bottom: calc(100% - 180px);
  right: calc(100% - 180px);
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .deco03::before {
    transform: scale(0.4);
    transform-origin: bottom right;
    bottom: calc(100% - 140px);
  }
}
.front-page .-philosophy .deco03::after {
  width: 90px;
  height: 90px;
  background-image: url(../img/index/img_round04.png);
  top: calc(100% + 80px);
  right: calc(100% - 100px);
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .deco03::after {
    top: -40%;
    left: -20vw;
    right: auto;
  }
}
.front-page .-philosophy .deco03 .photo {
  width: 370px;
  height: 370px;
}
@media only screen and (max-width: 1400px) {
  .front-page .-philosophy .deco03 .photo {
    width: calc(370px * 0.6);
    height: calc(370px * 0.6);
  }
}
@media only screen and (max-width: 768px) {
  .front-page .-philosophy .deco03 .photo {
    width: calc(370px * 0.3);
    height: calc(370px * 0.3);
  }
}
.front-page .-information {
  position: relative;
}
.front-page .-information::before {
  content: "";
  position: absolute;
  top: -60px;
  right: 0px;
  width: 100%;
  height: 80px;
  background: url(../img/common/bg_wave-b_bg.svg) right top / 900px 80px repeat-x;
}
.front-page .-interview .main__sections__item__wrap .contents .swiper-container .swiper-wrapper .interview-item .link .detail .info__budge {
  color: #fff;
  background-color: #f67f67;
  padding: 2px 8px;
  margin-right: 10px;
  display: inline-block;
  font-size: 1.3rem;
}
.front-page .-interview .main__sections__item__wrap .contents .swiper-container .swiper-wrapper .interview-item .link .detail .info .info__name {
  font-size: 1.5rem;
}
.front-page .-interview .main__sections__item__wrap .contents .swiper-container .swiper-wrapper .interview-item .link .detail .info .info__name span {
  font-size: 2.2rem;
}
.lower-office_l .office__list__item:nth-child(n + 4) {
  margin-top: 160px;
}
@media only screen and (max-width: 768px) {
  .lower-office_l .office__list__item:nth-child(n + 4) {
    margin-top: 28px;
  }
}
.lower-data .data .sections__item.-countrow .contents__visual .txt .num {
  font-size: 7rem;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-countrow .contents__visual .txt .num {
    font-size: 4.6rem;
  }
}
.lower-data .data .sections__item.-counticon2 .contents__visual .icon {
  margin-right: 24px;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-counticon2 .contents__visual .icon {
    margin-right: 0;
  }
}
.lower-data .data .sections__item.-counticon2 .contents__visual .icon .img-box {
  transform-origin: center center;
}
.lower-data .data .sections__item.-counticon2 .contents__visual .txt .num {
  font-size: 7rem;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-counticon2 .contents__visual .txt .num {
    font-size: 4.6rem;
  }
}
@media only screen and (min-width: 767px) {
  .lower-data .data .sections__item.-circle2 .contents__visual {
    width: 150px;
    height: 150px;
    margin-right: 7%;
  }
}
@media only screen and (min-width: 767px) {
  .lower-data .data .sections__item.-circle2 .contents__visual:before {
    width: 85px;
    height: 85px;
    right: -6%;
  }
}
@media only screen and (min-width: 767px) {
  .lower-data .data .sections__item.-circle2 .sections__item__wrap {
    padding: 28px 38px 60px;
  }
}
.lower-data .data .sections__item.-counticon1 .contents__visual .txt .num {
  font-size: 7.6rem;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-counticon1 .contents__visual .txt .num {
    font-size: 5.6rem;
  }
}
.lower-data .data .sections__item.-counticon3 .contents__visual {
  align-items: flex-end;
}
.lower-data .data .sections__item.-counticon3 .contents__visual .icon {
  margin-left: 24px;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-counticon3 .contents__visual .icon {
    margin-left: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-counticon3 .contents__visual .icon .img-box {
    transform-origin: bottom left;
  }
}
.lower-data .data .sections__item.-counticon3 .contents__visual .txt {
  font-size: 3rem;
  margin-top: 8px;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-counticon3 .contents__visual .txt {
    font-size: 2.6rem;
  }
}
.lower-data .data .sections__item.-counticon3 .contents__visual .txt:first-child {
  margin-top: 0;
}
.lower-data .data .sections__item.-counticon3 .contents__visual .txt .num {
  font-size: 6rem;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-counticon3 .contents__visual .txt .num {
    font-size: 4.8rem;
  }
}
.lower-data .data .sections__item.-counticon4 .contents__visual {
  align-items: flex-end;
}
.lower-data .data .sections__item.-counticon4 .contents__visual .txt {
  font-size: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 8px;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-counticon4 .contents__visual .txt {
    font-size: 2.6rem;
    flex-wrap: wrap;
    margin-top: 16px;
  }
}
.lower-data .data .sections__item.-counticon4 .contents__visual .txt:first-child {
  margin-top: 0;
}
.lower-data .data .sections__item.-counticon4 .contents__visual .txt .num {
  font-size: 6rem;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-counticon4 .contents__visual .txt .num {
    font-size: 4.8rem;
  }
}
.lower-data .data .sections__item.-counticon4 .contents__visual .icon {
  margin-left: 16px;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item.-counticon4 .contents__visual .icon .img-box {
    transform-origin: left bottom;
  }
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item .contents__annotation02 {
    width: 90%;
    margin-top: 24px;
  }
}
.lower-data .data .sections__item .budge02 {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  background-color: #a1695c;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
}
@media only screen and (max-width: 768px) {
  .lower-data .data .sections__item .budge02 {
    font-size: 1.3rem;
    width: 76px;
    height: 24px;
    margin-right: calc(100% - 76px);
    flex-shrink: 0;
    margin-bottom: 2px;
  }
}
.lower-faq .tab__item {
  margin-right: 16px;
}
@media only screen and (max-width: 768px) {
  .lower-faq .tab__item {
    margin-right: 8px;
  }
}
.lower-faq .tab__item:last-child {
  margin-right: 0;
}
.lower-faq .faq__list__item .question {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.lower-faq .faq__list__item .question:before {
  margin-top: 3px;
}
@media only screen and (max-width: 768px) {
  .lower-faq .faq__list__item .question:before {
    margin-right: 8px;
  }
}
